.landing-Page {
  display: block;
}
.landing-page-header{
  height: 518px;
}

.landing-page-header h1, .landing-page-header p {
  font-size: 1.5em;
  padding-bottom: 30px;
}

.demo { 
  font-size: 1.5em;
}

.screenshot {
  width: 90%;
  max-width: 760px;
  -webkit-box-shadow:  5px 5px 10px rgba(0,0,0, .4);
     -moz-box-shadow: 5px 5px 10px rgba(0,0,0, .4);
          box-shadow:  5px 5px 10px rgba(0,0,0, .4);

}