.task {
  padding: 5px 0;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #999;
}

.task:nth-last-child(1) {
  border-bottom: none;
}

.task-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px;
  text-align: left;
}

.edit-icon {
  vertical-align: middle;
}