/* .family-page {
  min-height: calc(100vh - 45px);
} */

.family-member {
  display: flex;  
  position: relative;
  padding: 5px 0;
}

.member-container {
  flex: 1;   
}

.member-image {
  height: 75px;
  width: 65px;
}

/* .family-member:nth-child(even):before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px; 
  background: black; 
  top: 100%;
  left: 0;
} */

.points-history {
  flex: 2;
}

.points-event {
  display: flex;
}

.event-desc {
  flex: 3;
  text-align: left;
}

.event-value {
  flex: 1;
}