.latest-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;  
}

.latest-list-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.latest-list-wrapper.open {
  margin-bottom: 20px;
}

/* .list-input {
  display:  flex;
  justify-content: center;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
} */

.icon-plus {
  height: auto;
  padding: 0 15px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.icon-plus:hover {
  cursor: pointer;  
}

.latest-list-container.open .list-input {
  max-height: 1000px;
  opacity: 1;
}

.latest-list-container.open .latest-list-wrapper .icon-plus {
  max-height: 0;
  overflow-y: hidden;
}