.latest-list-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: ;
}

.icon-plus {
  height: auto;
  padding: 0 15px;
}

.icon-plus:hover {
  cursor: pointer;  
}