.latest-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;  
}

.latest-list-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.latest-list-wrapper.open {
  margin-bottom: 20px;
}

.icon-plus {
  height: auto;
  padding: 0 15px;  
  
}

.icon-plus:hover {
  cursor: pointer;  
}

.latest-list-container.open .latest-list-wrapper .icon-plus {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}