.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;  
  line-height: 35px;
  vertical-align: middle;
  background-color: rgba(8,88,112,1);
  color: #eee;
}

.app-name {
  font-size: 1.5em; 
  padding: 5px 10px;
}

@media only screen and (min-width: 768px) {
  .app-name {
    padding: 10px 20px;
  }
}