.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;  
  line-height: 35px;
  vertical-align: middle;
  background-color: rgba(8,88,112,1);
  color: #eee;
}