.hamburger {
  padding: 1% 5px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}

.open {
  left: 150px;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);  
}

.open .bar2 {opacity: 0;}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
