* {
    box-sizing: border-box;
  }

.App {
  height: 100vh;
  position: relative;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* flex: 1; */
  min-height: calc(100vh - 45px);
}

footer {
  padding: 1% 10px;
  background-color: rgba(8,88,112,1);
  height: 45px;
  color: #eee;
}

header {
  padding: 45px 15px;
}

header h1 {
  margin-bottom: 0;
}

.points-status-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

section {
  min-height: 200px;
  padding: 30px 0;
  /* background-color: #bbb; */
}

.home-page section:nth-child(odd) {
  background-color: #eee;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.app-name {
  font-size: 1.5em;
}

.upcoming-events h2 {
  margin-bottom: 5px;
}

.calendar-link {
  margin-bottom: 15px;
}

/* .event-time {
  flex: 1;
} */

/* .event-title {
  flex: 1;
} */

legend {
  width: 100%;
}


.tab-selection {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #111;
}

.week-tab, .month-tab {
  padding: 0 5px;
}

.shopping-list-item {
  display: flex;  
}

.item-desc {
  padding-left: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.task-check {
  width: 30px;
  height: 30px;  
}



/* .point-value {
  padding-left: 20px;
} */

.due-date {
  text-align: left;  
}

.tip {
  font-size: .5em;
}

.task-container {
  display: flex;
  justify-content: flex-start;
}

.task-check {
  margin: auto 10px;
}

.task-check input{
  width: 30px;
  height: 30px
}

.bttn {
  text-decoration:none;
  background: rgb(5,52,66);
  cursor:pointer;
  background: linear-gradient(0deg, rgba(5,52,66,1) 0%, rgba(8,88,112,1) 25%, rgba(11,129,164,1) 100%);
  border: none;  
  border-radius: 5px;
  color: #eee;
  padding: 5px;
  text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;  
}

.week-tab, .month-tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bttn.active {
	position:relative;
  top:1px;
  border: none;
  /* font-size: .9em;   */
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.bttn:focus {
  position:relative;
  top:1px;
  border: none;
}