* {
    box-sizing: border-box;
  }

.App {
  height: 100vh;
  position: relative;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* flex: 1; */
  min-height: calc(100vh - 45px);
}
nav,
footer {
  padding: 1% 10px;
  background-color: #aaa;
  height: 45px;
}

header {
  padding: 45px 15px;
}

header h1 {
  margin-bottom: 0;
}

.points-status-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

section {
  min-height: 200px;
  padding: 30px 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.app-name {
  font-size: 1.5em;
}

.upcoming-events h2 {
  margin-bottom: 5px;
}

.calendar-link {
  margin-bottom: 15px;
}

/* .event-time {
  flex: 1;
} */

/* .event-title {
  flex: 1;
} */

legend {
  width: 100%;
}
.calendar {
  background-color: #ddd;
}

.calendar-month h1 {
  margin-bottom: 0;
}
.calendar-day-container {
  display: flex;
  padding: 5px 10px;
  /* background-color: #ddd; */
  text-align: left;    
}

.calendar-day-container:nth-child(even) {
  background-color: #bbb;    
}

.calendar-date-container {
  flex: 1;
}

.calendar-event-container {
  flex: 2;
  font-size: 0.7em;
  margin: auto;
}

.tab-selection {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #111;
}

.week-tab, .month-tab {
  padding: 0 5px;
}

.week-tab {
  border: 1px solid #111;
  border-bottom: px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shopping-list-item {
  display: flex;  
}

.item-desc {
  padding-left: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.task-check {
  width: 30px;
  height: 30px;  
}



/* .point-value {
  padding-left: 20px;
} */

.due-date {
  text-align: left;  
}

.tip {
  font-size: .5em;
}

.task-container {
  display: flex;
  justify-content: flex-start;
}

.task-check {
  margin: auto 10px;
}

.task-check input{
  width: 30px;
  height: 30px
}