.calendar {
  height: 100%;
  background-color: #fff;
  padding: 10px;
}

.calendar-wrapper {
  height: 100%;
}

.calendar-month {
  padding-bottom: 20px;
}

.calendar-month h1 {
  margin-bottom: 0;
}
.calendar-day-container {
  display: flex;
  padding: 5px 10px;
  text-align: left; 
  border-bottom: 1px solid #111;
}

.calendar-day-container:nth-child(even) {
  background-color: #bbb;    
}

.calendar-events-wrapper {
  flex: 1;
}

.calendar-event-container {
  flex: 2;
  font-size: 1em;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .tab-selection .bttn {
    font-size: 1.2em;
  }
}