.event-container {
  display: flex;  
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #999;
}

.event-container:nth-last-child(1) {
  border-bottom: none;
}

.event-day {
  max-width: 70px;
  text-align: left;
  /* flex: 1;
  font-size: 1.5em;  */
}

@media only screen and (min-width: 1024px) {
  
}