.calendar-month-view {
  width: 100%;
  /* height: calc(100vh - 45px); */
}

.calendar-page-month {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

.calendar-wrapper {
  height: 100%;
}

.calendar-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}
.calendar-month-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-header-container {
  display: flex;
}

.week-day, .calendar-month-day {
  flex: 1;
}

.calendar-month-day {  
  border-radius: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar-row {
  display: flex;
  height: 17vw;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0;
}

.week {
  display: flex;
}

.today {
  font-weight: 600;
  background-color: rgba(8,88,112,1);
  color: #fff;
}

.event-notification {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(8,88,112,1);
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%; 
  font-weight: normal;
  line-height: 20px;
}

.today .event-notification {
  color: rgba(8,88,112,1);
  background-color: #fff;
}