nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;  
  line-height: 35px;
  vertical-align: middle;
}

.app-name {
  padding: 1% 5px;
}

.nav-list {
  background: #888;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 200px;
  transition: 0.4s;
  z-index: 100;
  position: fixed;  
  top: 0;
  left: 0;
}

.close {
  width: 0;
  overflow-x: hidden;
}

.nav-list.close .nav-item {
  display: none;
}
.fade-in-show {
  opacity: 1;
}

.fade-in-hide {
    opacity: 0;
}